/* css styles */

td > span, td > a{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

td .listing-author{
  /*white-space: nowrap;*/
  max-width: 200px;
}

td > span.listing-container-title{
  font-style: italic;
}