/* css styles */

td > span, td > a{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

td .listing-author{
  /*white-space: nowrap;*/
  max-width: 200px;
}

td > span.listing-container-title{
  font-style: italic;
}

.quarto-title-banner {
  background-blend-mode: multiply;
}

/* Fancylist */


.fancylist ul {
  list-style: none;
  padding-left: 0;
  margin: 0
}

.fancylist ul li{
  position: relative;
  padding: .75rem 0 .75rem 2rem;
  margin-bottom: .75rem;
  transition: all .3s ease
}

.fancylist ul li::before{
  content: "▸";
  position: absolute;
  left: .5rem;
  color: var(--bs-secondary);/*rgba(51,51,51,.5);*/
  font-size: 1rem;
  transition: all .3s ease
}

.fancylist ul li:hover{
  padding-left: 2.25rem;
  color: var(--bs-secondary);/*#333;*/
}

.fancylist ul li:hover::before {
  color: var(--bs-secondary);/*#333;*/
  left: .25rem
}

.fancylist ul li p{
  margin: 0
}

.fancylist ul li p strong {
  color: var(--bs-secondary);/*#333;*/
  font-weight: 600
}

.fancylist section.level2 ul li p em{
  color: rgba(var(--bs-secondary-color-rgb), 0.7);/*rgba(51,51,51,.7)*/
}

.fancylist ul li{
  background-color: rgba(var(--bs-secondary-color-rgb), 0.02);/*rgba(51,51,51,.02);*/
  border-left: 2px solid rgba(var(--bs-secondary-color-rgb), 0.15);/*rgba(51,51,51,.15);*/
  border-radius: 0 6px 6px 0;
  padding: 1rem 1rem 1rem 2rem
}

.fancylist ul li:hover {
  background-color: rgba(var(--bs-secondary-color-rgb), 0.05);/*rgba(51,51,51,.05);*/
  border-left-color: rgba(var(--bs-secondary-color-rgb), 0.3);/*rgba(51,51,51,.3)*/
}

.fancylist ul li strong:last-of-type {
  color: rgba(var(--bs-secondary-color-rgb), 0.7);/*rgba(51,51,51,.7);*/
  font-size: .95em
}